body {
  color: #434455;
  background-color: #fff;
}
a {
  text-decoration: none;
}
ol,
ul {
  list-style-type: none;
}
<style>
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700&display=swap');
</style>